<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Your Newsletter</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
body,td,th {
	font-family: verdana;
	font-size: 10px;
}
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
}
.text1 {
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: #999999;
}
.text2 {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FDC94F;
}
.text3 {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}
.text4 {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #5AA1D7;
}
.text5 {
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: FE7251;
}
.text6 {
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}
.brder {
	border: 1px solid #000000;
}
-->
</style></head>
<center>
<body>
<table width="570" border="0" cellpadding="5" cellspacing="1" class="border_2">
  <!--DWLayoutTable-->
  <tr bgcolor="#FFFFFF" class="brder">
    <td colspan="2" valign="top" bgcolor="#FFFFFF" class="brder"><img src="/content/templates/images/t4logo.gif" width="300" height="70"></td>
    <td width="223" align="center" valign="middle" bgcolor="#FFFFFF" class="brder"><span class="text4">Newsletter title</span><span class="style1"><span class="style2"><br>
      </span></span><span class="text1"><strong>date # / item #</strong> </span></td>
  </tr>
  <tr bgcolor="#FFFFFF" class="brder">
  	<td width="148" align="left" valign="top" bgcolor="#FFFFFF" class="brder"><span class="style5"><strong class="text4">In this issue:</strong><br>
        <br>
        <strong>&bull;</strong> <a href="#1" class="text1">latest news</a><br>
        <strong>&bull;</strong> <a href="#2" class="text1">main article</a><br>

        <strong>&bull; </strong><a href="#3" class="text1">special offers</a><br>
        <strong>&bull;</strong> <a href="#4" class="text1">tip of the week </a><br>
        <strong>&bull;</strong> <a href="#7" class="text1">business tips</a>        <br>
        <strong>&bull;</strong> <a href="#5" class="text1">success story</a><br>
      <strong>&bull;</strong> <a href="#6" class="text1">your free downloads</a></span><strong> </strong></td>
    <td width="165" rowspan="2" align="left" valign="top" bgcolor="#F0F0F0" class="brder"><p align="left" class="text1"><span class="text4"><strong><a name="2" id="2"></a>MAIN ARTICLE </strong></span><br>
          <br>
          <span class="text4">Stet clita kasd gubergren, no sea takimata sanctus est 
  Lorem ipsum dolor sit amet. <br>
          </span><br>
  Lorem ipsum dolor sit amet, consetetur adipscing elitr, 
  sed diam nonumy eirmod tempor invidunt ut labore et 
  dolore magna aliquyam erat, sed diam voluptua. <a href="#" class="text4"><br>
  </a><br>
  <span class="text5">At vero eos et accusam et justo duo dolores et ea rebum.
  Stet clita kasd</span> gubergren, no sea takimata sanctus est <br>
  Lorem ipsum dolor sit amet.  <a href="#" class="text2"> read more</a> </p>
      <p class="text1">Lorem ipsum dolor sit amet, consetetur adipscing elitr, 
  sed diam nonumy eirmod tempor invidunt ut </p></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="brder"><span class="style14"><a name="1"></a></span><span class="text4">LATEST NEWS</span><span class="style8"><br>
        </span><span class="text1"><br>
At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd <a href="#" class="text2">read more</a><br> 
<br>
Gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum 
      </span><a href="#" class="text2">read more</a></td>
  </tr>
  <tr bgcolor="#FFFFFF" class="brder">
    <td rowspan="2" align="left" valign="top" bordercolor="#E3E3E3" bgcolor="#FFFFFF" class="brder"><p class="text1">        <strong><a name="7" id="7"></a><span class="text4">BUSINESS TIPS </span></strong> <br>
            <br>
            <span class="text5">Lorem ipsum dolor sit <br>
amet, consetetur </span><br>
sadipscing elitr, sed diam <br>
nonumy eirmod At vero <br>
eos et accusam et justo <br>
duo dolores et ea rebum. <br>
Stet clita kasd gubergren, <br>
no sea takimata sanctus <br>
est 
Lorem ipsum dolor sit <br>
amet. <a href="#" class="text2">read more</a></p>      <p class="text1">Lorem ipsum dolor sit <br>
        amet, consetetur <br>
        adipscing elitr, sed diam <br>
      nonumy </p>
<p class="text1"><span class="text5">Lorem ipsum dolor sit <br>
amet, consetetur </span><br>
sadipscing elitr, sed diam <br>
nonumy eirmod At vero <br>
eos et accusam et justo <br>
duo dolores et ea rebum. <br>
Stet clita kasd gubergren, <br>
no sea takimata sanctus <br>
est Lorem ipsum dolor sit <br>
amet. <a href="#" class="text2">read more</a></p></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="brder"><span class="style5"><strong><a name="3" id="3"></a></strong></span><span class="text4"><strong>SPECIAL OFFERS <br>
      <br>
      </strong></span><span class="text5">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse </span><span class="text1">molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </span><br>
      <br>
      <span class="style5"><strong><a name="7" id="7"></a></strong></span><span class="text4"><strong>YOUR FREE DOWNLOADS </strong></span><br>
      <br>
      <strong class="text2">&bull;</strong> <a href="#" class="text1">amet consectetuer adipiscing elit </a><br>
      <strong class="text2">&bull;</strong> <a href="#" class="text1">sed diam nonummy nibh euismod </a><br>
      <strong class="text2">&bull;</strong> <a href="#" class="text1">amet consectetuer adipiscing elit </a><br>
      <strong class="text2">&bull;</strong> <a href="#" class="text1">sed diam nonummy nibh euismod </a></td>
    </tr>
  <tr bgcolor="#FFFFFF" class="brder">
    <td align="left" valign="top" bgcolor="#FFFFFF" class="brder"><p align="left"><span class="style14"><a name="5" id="5"></a></span><span class="text4">SUCCESS STORY </span><span class="style8"><br>
        <br>
          </span><span class="text1">At vero eos et accusam et <br>
          justo duo dolores et ea <br>
          rebum.
Stet clita kasd <br>
gubergren, no sea takimata <br>

  sanctus est 
  Lorem ipsum <br>
  dolor sit amet.<br>
    </span><a href="#" class="text2">read more</a></p></td>
    <td valign="top" bgcolor="#FFFFFF" class="brder"><div align="left">
      <p class="text4"><strong><a name="4"></a>TIP OF THE WEEK<br>
              <br>
              <span class="text1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor dolore.           <a href="#" class="text2">read more</a> </span></strong></p>
      <p class="text4"><strong><span class="text1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor dolore. <a href="#" class="text2">read more</a> </span></strong></p>
    </div></td>
  </tr>
  <tr align="center" valign="middle" bgcolor="#FFFFFF" class="brder">
    <td colspan="3" class="brder">Copyright &copy; Your Company Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designed by <span class="text6"><a href="http://www.templatesbox.com" target="_blank" class="text4">Templatesbox.com</a></span></span></td>
    </tr>
  <tr align="center" valign="middle" bgcolor="#FFFFFF" class="brder">
    <td colspan="3" valign="top" class="brder"><span class="text1">If you wish to cancel your subscription to this newsletter <a href="#" class="text4">click here</a></span></td>
    </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</body>
</center>
</html>
