<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Your Newsletter</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">
<!--
body,td,th {
	font-family: verdana;
	font-size: 10px;
}
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
}
.text1 {
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}
.text2 {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #00212A;
}
.text3 {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}
.text4 {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
.text5 {
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}
.text6 {
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}
.brder {
	border: 1px solid #545C67;
}
-->
</style></head>
<center>
<body>
<table width="570" border="0" cellpadding="5" cellspacing="1" class="border_2">
  <!--DWLayoutTable-->
  <tr>
    <td colspan="2" valign="top" bgcolor="#689E9E"><img src="/content/templates/images/t3logo.gif" width="300" height="70"></td>
    <td width="213" align="center" valign="middle" bgcolor="#FFFFFF" class="brder"><span class="text4">Newsletter title</span><span class="style1"><span class="style2"><br>
      </span></span><span class="text4"><strong>date # / item #</strong> </span></td>
  </tr>
  <tr bgcolor="#FFFFFF">
  	<td width="145"  align="left" valign="top" class="brder"><span class="style5"><strong class="text4">In this issue:</strong><br>
        <br>
        <strong>&bull;</strong> <a href="#1" class="text1">latest news</a><br>
        <strong>&bull;</strong> <a href="#2" class="text1">main article</a><br>

        <strong>&bull; </strong><a href="#3" class="text1">special offers</a><br>
        <strong>&bull;</strong> <a href="#4" class="text1">tip of the week </a><br>
        <strong>&bull;</strong> <a href="#7" class="text1">business tips</a>        <br>
        <strong>&bull;</strong> <a href="#5" class="text1">success story</a><br>
      <strong>&bull;</strong> <a href="#6" class="text1">your free downloads</a></span><strong> </strong></td>
    <td width="178"  align="left" valign="top" class="brder"><span class="style5"><strong><a name="7" id="7"></a></strong></span><span class="text4"><strong>BUSINESS TIPS</strong></span><span class="style5"><strong> <br>
          <br>
          <span class="text1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br>
sed diam nonumy eirmod At vero eos et accusam et justo <br>
duo dolores et ea rebum. Stet clita kasd gubergren, no <br>
sea takimata sanctus est Lorem ipsum dolor sit amet. <a href="#" class="text4">read more </a></span></strong></span></td>
    <td align="left" valign="top" bgcolor="#689E9E"><span class="text1"><span class="text4"><strong><a name="2"> </a>MAIN ARTICLE </strong></span><br>
        <br>
        <span class="text2">Stet clita kasd gubergren, no sea takimata sanctus est 
Lorem ipsum dolor sit amet. <br>
        </span><br>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
sed diam nonumy eirmod tempor invidunt ut labore et 
dolore magna aliquyam erat, sed diam voluptua. <a href="#" class="text4"> </a> At vero 
eos et accusam et justo duo dolores et ea rebum. <a href="#" class="text4"> <br>
read more</a> </span></td>
  </tr>
  <tr bgcolor="#93CC3D">
    <td colspan="2" align="left" valign="top" bgcolor="BCCFD3"><p class="text1"><a name="1"></a></span><span class="text4">LATEST NEWS</span><br>
        </span><span class="text5"><br>
At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd<br>
</span><span class="text4"><br>
Gubergren, no sea takimata sanctus est ipsum ipsum dolor sit amet, consetetur sadipscing elitr sadipscing <a href="#" class="text4">read more</a></span></p>
      <p class="text5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br>
sed diam nonumy eirmod tempor invidunt ut labore et <br>
dolore magna aliquyam erat, sed diam voluptua. <a href="#" class="text4"></a> At vero <br>
eos et accusam et justo duo dolores et ea rebum.<br>
<a href="#" class="text4"> read more</a> </span>
          </p>
      </p></td>
    <td align="left" valign="top" bgcolor="#689E9E"><p class="text1"><span class="text4">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>
        <br>
    </span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="#" class="text4"> </a> At vero eos et accusam et justo duo dolores et ea rebum. <a href="#" class="text4"> read more</a> </p>
      <p class="text5"><span class="text1">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>
      </span></p></td>
  </tr>
  <tr>
    <td colspan="2" rowspan="2" align="left" valign="top" bgcolor="#BCCFD3"><p align="left"><span class="style14"><a name="5" id="5"></a></span><span class="text4">SUCCESS STORY </span><span class="style8"><br>
          <br>
        </span><span class="text1">At vero eos et accusam et justo duo dolores et ea rebum. <br>
        Stet clita kasd gubergren, no sea takimata sanctus est <br>
        Lorem ipsum dolor sit amet.<br>
        </span><a href="#" class="text2">read more</a></p>      <div align="left">
          <p><span class="style5"><strong><span class="text1"><span class="text4"><strong><strong><strong><strong><a name="3" id="3"></a></strong></strong></strong>SPECIAL OFFERS <br>
            <br>
        </strong></span>Duis autem vel eum iriure dolor in hendrerit in vulputate <br>
        velit esse molestie consequat, vel illum dolore eu feugiat <br>
        nulla facilisis at vero eros et accumsan et iusto odio <br>
        dignissim qui blandit praesent luptatum zzril delenit augue<br> 
        duis dolore te feugait nulla facilisi. </span></strong></span></p>
          <p><span class="style5"><strong><span class="text1">Duis autem vel eum iriure dolor in hendrerit in vulputate <br>
velit esse molestie consequat, vel illum dolore eu feugiat <br>
nulla facilisis at vero eros et accumsan et iusto odio <br>
dignissim qui blandit praesent luptatum zzril delenit augue<br>
duis dolore te feugait nulla facilisi. <br>
<span class="text5"><br>
At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd</span>          </span></strong></span></p>
      </div></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="brder"><p class="text4"><strong><a name="4"></a>TIP OF THE WEEK<br>
          <br>
          <span class="text1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.      <a href="#" class="text4">read more</a></span></strong></p>
      <p class="style5"><span class="text1">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</span></p>      </td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#689E9E"><span class="style5"><span class="text4"><strong><a name="7" id="7"></a>YOUR FREE DOWNLOADS </strong></span><span class="style1"><br>
          <br>
          <strong>&bull;</strong> <a href="#" class="text1">amet consectetuer adipiscing elit </a><br>
          <strong>&bull;</strong> <a href="#" class="text5">sed diam nonummy nibh euismod </a><br>
          <strong>&bull;</strong> <a href="#" class="text1">amet consectetuer adipiscing elit </a><br>
          <strong>&bull;</strong> <a href="#" class="text5">sed diam nonummy nibh euismod </a></span></span></td>
  </tr>
  <tr align="center" valign="middle" bgcolor="#FFFFFF" class="brder">
    <td colspan="3" class="brder"><span class="text4"><span class="text4">Copyright &copy; Your Company Name</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designed by <span class="text6"><a href="http://www.templatesbox.com" target="_blank" class="text4">Templatesbox.com</a></span></span></td>
    </tr>
  <tr align="center" valign="middle" bgcolor="#689E9E">
    <td colspan="3" valign="top"><span class="text6">If you wish to cancel your subscription to this newsletter <a href="#" class="text3">click here</a></span></td>
    </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    </tr>
</table>
</body>
</center>
</html>
