<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Your Newsletter</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<style type="text/css">
body,td,th {
	font-family: verdana;
	font-size: 10px;
}
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
}
.text1 {
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}
.text2 {
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
}
.text3 {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #010101;
}
.text4 {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}
.text5 {
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: #666666;
}
.text6 {
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}
.brder {
	border: 1px solid #191919;
}
</style>
</head>
<body>
<center>
<table width="570" border="0" cellpadding="5" cellspacing="1" class="brder">
  <!--DWLayoutTable-->
  <tr align="left" bgcolor="#2F4666">
    <td colspan="4" align="center" valign="middle" bgcolor="#BDBDBD" class="brder"><img src="/content/templates/images/t1logo.gif" width="540" height="90"></td>
    </tr>
  <tr>
    <td colspan="2" align="center" valign="middle"><span class="text3">Newsletter title </span></td>
    <td colspan="2" align="center" valign="middle"><span class="text3">date # / issue #</span></td>
  </tr>
  <tr>
    <td colspan="2" align="left" valign="top" bgcolor="D5D5D5" class="brder"><p><span class="text3"><span class="text3">In this issue:</span><br>
          <br>
&bull; <a href="#1" class="text1">latest news</a><br>
&bull; <a href="#2" class="text1">main article</a><br>
&bull; <a href="#3" class="text1">special offers</a><br>
&bull; <a href="#4" class="text1">business tips</a><br>
&bull; <a href="#5" class="text1">success story</a><br>
&bull; <a href="#6" class="text1">your free downloads</a></span></p>      </td>
    <td colspan="2" align="left" valign="top" bgcolor="#FFFFFF" class="brder"><p class="text3"><span class="style14"><a name="4" id="4"></a></span>BUSINESS TIPS <br>
        <span class="text5"><br>
At vero eos et accusam et justo duo dolores et ea rebum. kasd gubergren, no sea takimata sanctus est At vero eos et accusam et justo duo dolores et ea . kasd gubergren,</span></p>      </td>
    </tr>
  <tr>
    <td colspan="2" align="left" valign="top" bgcolor="191919" class="brder"><p class="text3"><a name="2"></a><span class="text4">MAIN ARTICLE</span> </p>
      <p class="text4">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.<br>
          <br>
        <span class="text6">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. At vero eos</span></p>      </td>
    <td colspan="2" rowspan="2" align="left" valign="top" bgcolor="#D5D5D5" class="brder"><p><span class="text3"><span class="style14"><a name="1"></a></span>LATEST NEWS<br>
            <span class="text6"><br>
          </span></span><span class="text1">At vero eos et accusam et justo duo dolores et ea rebum. kasd gubergren, no sea takimata sanctus est At vero eos et accusam et justo duo dolores et ea . kasd gubergren, </span></p>
      <p><span class="text3"><span class="text1">At vero eos et accusam et justo duo dolores et ea rebum. kasd gubergren, no sea takimata sanctus est At vero eos et accusam et justo duo dolores et ea rebum. kasd gubergren, no sea takimata sanctus est </span></span><br>
        <br>
        <span class="text1"><span class="text3"><strong class="text3">&bull;</strong> <a href="#" class="text1">amet consectetuer </a><a href="#" class="text1">sed diam nonummy </a><br>
              <strong class="text3">&bull;</strong> <a href="#" class="text1">amet consectetuer </a><a href="#" class="text1"> diam nonummy </a></span><br>
              <span class="text3"><strong class="text3">&bull;</strong> <a href="#" class="text1">amet consectetuer </a><a href="#" class="text1">sed diam nonummy </a></span></span></p>      </td>
  </tr>
  <tr>
    <td height="75" colspan="2" align="left" valign="top" bgcolor="#FFFFFF" class="brder"><span class="text1">At vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. vero eos. 
      Lorem ipsum dolor sit amet. At vero eos. At vero eos accusam et justo duo dolores et ea rebum.</span></td>
    </tr>
  
  <tr bgcolor="#FFFFFF" class="brder">
    <td height="100" colspan="2" align="left" valign="top" bgcolor="888888" class="brder"><p><strong><a name="3"></a></strong><span class="text4">SPECIAL OFFERS</span></p>
      <p class="text6">At vero eos et accusam et justo duo dolores et ea rebum. kasd gubergren, no sea takimata sanctus est At vero eos et accusam et justo duo dolores et ea rebum. kasd gubergren, no sea takimata sanctus gubergren, no sea takimata sanctus est At vero eos et accusam et justo duo dolores et ea rebum. kasd gubergren, no sea takimata sanctus</p>      </td>
    <td colspan="2" align="left" valign="top" bgcolor="#FFFFFF" class="brder"><p class="text1"><span class="style25"><strong align="justify"><a name="6"></a></strong></span><span class="text3">FREE DOWNLOADS<br>
      <br>
      <strong class="text3">&bull;</strong> <a href="#" class="text1">amet consectetuer </a><a href="#" class="text1">sed diam nonummy </a><br>
      <strong class="text3">&bull;</strong> <a href="#" class="text1">amet consectetuer </a><a href="#" class="text1"> diam nonummy </a></span><br>
          <span class="text3"><strong class="text3">&bull;</strong> <a href="#" class="text1">amet consectetuer </a><a href="#" class="text1">sed diam nonummy </a></span></p>
      <p class="text1"><span class="text3"><strong class="text3">&bull;</strong> <a href="#" class="text1">amet consectetuer </a><a href="#" class="text1">sed diam nonummy </a><br>
          <strong class="text3">&bull;</strong> <a href="#" class="text1">amet consectetuer </a><a href="#" class="text1"> diam nonummy </a></span><br>
          <span class="text3"><strong class="text3">&bull;</strong> <a href="#" class="text1">amet consectetuer </a><a href="#" class="text1">sed diam nonummy </a></span></p>      </td>
    </tr>
  <tr align="left" bgcolor="#FFFFFF" class="brder">
    <td colspan="2" align="left" valign="top" bgcolor="#FFFFFF" class="brder"><span class="text1"><span class="text5"><strong><a name="5"></a></strong><strong class="text3">SUCCESS STORY</strong> <br>
          </span><br>    
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea akimata sanctus est Lorem ipsum dolor sit amet akimata</span></td>
    <td colspan="2" align="center" valign="middle" bgcolor="#D5D5D5" class="brder">Advertisment</td>
    </tr>
  <tr align="center" valign="middle" bgcolor="#2F4666">
    <td colspan="4" bgcolor="#000000"><span class="text6">Copyright &copy; Your Company Name</span></td>
    </tr>
  <tr align="center" valign="middle" bgcolor="#FFFFFF" class="brder">
    <td colspan="4"><span class="text5">If you wish to cancel your subscription to this newsletter <a href="#" class="text1">click here</a></span></td>
    </tr>
  <tr>
    <td width="184" height="0"></td>
    <td width="102"></td>
    <td width="44"></td>
    <td width="191"></td>
  </tr>
  </table>
</center>
</body>
</html>